body {
	font-family: 'Montserrat', sans-serif;
}

/* LOGIN PAGE */
.container-front-page {
	padding: 118px 0px !important;
}
.login-info {
	float: left;
	width: 34%;
}
.login-info .title {
	margin: 20px 0px;
}
.login-info .title p{
	color: #000 !important;
}
.login-form {
	float: right;
	width: 30%;
}
.login-form h1 {
	text-transform: none;
}
ul.tml-user-links {
	list-style-type: none;
	margin-left: 0 !important;
}
/* LOGIN PAGE */

/* Header */
.user {
	float: right !important;
	display: flex;
    align-items: center;
    padding-top: 30px;
}
.user .user-picture > img{
	border-radius: 50%;
    width: 60px;
    margin-left: 10px;
}
/* Header */

/*Announcement*/
.post-main-inner {
	padding: 30px;
	color: #000;
}
.post-main-inner .author{
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
}
.post-main-inner .post_date_inner{
	color: 
}
.post-main-inner .post_padding {
	margin-top: 20px !important;
}
.content_with_left_sidebar {
	border-left: 2px solid #878787;
}
.content_with_left_sidebar .post_wrapper {
	margin-left: 20px;
}
h1, h2, h4 {
	text-transform: none !important;
}
.content_with_left_sidebar h1 {
    margin-left: 20px;
    margin-bottom: 30px;
}
.post-main-inner .edit {
	float: right !important;
	display: none;
}
/*Announcement*/

/*Councelors*/
.mtc-section img {
	display: block;
	margin: auto;
    width: 200px;
}
.mtc-section a:hover {
	color: #fdb803;
}
.mtc-section h4 {
    margin-top: 10px;
    margin-bottom: 0;
    color: #1cac0f;
    text-align: center;
}
.mtc-section h4 > span > p {
	margin-bottom: 0;
}
.mtc-section .department {
    text-align: center;
    color: #000;
}
.counselor .tcvpb_column_tc_span4 img {
	display: block;
	margin: auto;
}
.counselor h2,
.counselor h2 > span > p {
    margin-bottom: 0;
}
.counselor {
	color: #000;
}
.counselor .department .p_tc {
    margin-top: 5px;
    font-size: 30px;
}
.online-admin {
	position: fixed;
	bottom: 0;
	color: #fff;
	margin: 10px;
	font-size: 20px;
	z-index: 9999;
	padding: 10px;
	border-radius: 20px;
	background-color: #1cac0f;
}
/*Councelors*/

/* OVERIDE */
.website-button {
	background-color: #1cac0f !important;
	border-color: #1cac0f !important;
	outline: none;
	width: 120%;
}

.secondary-website-button {
	background-color: #878787 !important;
	border-color: #878787 !important;
	outline: none;
	width: 104%;
}

.website-button:hover,
.website-button:focus,
.secondary-website-button:hover,
.secondary-website-button:focus {
	background-color: #fdb803 !important;
	border-color: #fdb803 !important;
}


#footer_copyright {
	background-color: #e1e1e1 !important;
}

div#footer_menu {
	text-align: center !important;
}

div#footer_menu a {
	color: #1cac0f !important;
}

div#footer_menu ul > li:last-child:before {
	content: "";
	margin-right: 15px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 1.5;
}

nav > ul#main_menu {
	float: none !important;
}

#logo {
	margin: 24px 0px !important;
}

#logo_menu_bar .menu_container .left {
	display: flex;
    align-items: center;
}

aside .widget_custom_html,
.textwidget.custom-html-widget {
	margin-bottom: 0 !important;
}
/* OVERIDE */


/* mobile responsive */
/* FRONT PAGE */
	@media(max-width: 690px) {
		.login-info {
			float: none;
			width: 100%;
		}
		.login-form {
			float: none;
			width: 100%;
		}
	}
	@media(max-width: 767px) {
		.content_with_left_sidebar {
			border-left: none;
		}
		.website-button,
		.secondary-website-button {
			width: 100%;
		}
	}
/* FRONT PAGE */